.App{
  background-image: url('../../img/chalk-background.jpg');
  height: 100vh;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
}

main{
  margin-top: 80px; 
  text-align: center;
  width: 23em;
  height: 25em;
  box-shadow: 0 0 1rem 0 rgba(0,0,0, .2);
  /* border-radius: 5px; */
  color: white;
  background-color: rgba(0,0,0,.8);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  -ms-transition: -ms-transform .8s ease-in-out;
  transition: transform 2s ease-in-out transform 3s ease-in-out;  
}

.rotatez {
  animation: move 1s linear forwards;
}
@keyframes move {
  /* 0% {
    transform: rotateY(-90deg);
  } */

   0% {
    transform: rotateY(0deg);
  } 
   50% {
    transform: rotateY(90deg);
  } 

    100% {
    transform: rotateY(0deg);
  } 
}
body {
  min-height: 100vh;
}

/* .rotate{
  transform:rotateY(90deg);
  transform:rotateY(90deg);
}
.rotateReverse{
  transform:rotateY(-90deg);
  transform:rotateY(-90deg);
} */


/* main:before{
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  box-shadow: inset 0 0 20px rgba(255, 255, 255);
  filter: blur(10px);

} */

@media screen and (min-width: 700px){
  .App{
    height: 100vh;
  }
}
 
@media screen and (max-width: 455px){
  *{
    font-size: .96em;
  }

  main{
    margin-top: -10px;
    width: 19em;
  }
  
}

